
body {
  /* background-color: rgba(174, 110, 142, 0.611);; */
  background-color: black;
}

.dictionaryh1 {
margin-top: 20%;
font-size: 4em;
color: white;
font-weight: bold;
border: 3px solid green;
width: 100%; 
display: flex;
flex-shrink: initial;
justify-content: center;
}




