section {
  color: white;
  background-color: black;
  margin: 10%;
  padding: 3%;
}

.borderMagenta {
  border: 7px solid magenta;
  border-radius: 15px;
}

form {
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 7px solid magenta; */
}

.tilted {
  transform: rotate(30deg);
  /* color: rgba(174, 110, 142, 0.611); */
  color: white;
  margin-top: 4%;
}

#bigButton {
  background-color: magenta;
  padding: 6%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 2em;
}

.col-4 {
  display: flex;
  justify-content: end;
}

h2 {
  font-size: 4em;
}




footer {
  margin: 13% 0 13% 0;
}

footer a {
    color: white;
}

footer a:hover {
    color: magenta;
}