img {
  margin: 5%;
  border-radius: 2px;
}

.row {
  /* border: 3px solid green; */
  display: flex;
  justify-content: center;
}

.photoContainer {
  /* border: 7px solid magenta; */
  margin-top: 28%;
}


@media only screen and (min-width: 768px) {
    .photoContainer {
        /* border: 7px solid magenta; */
        margin-top: 18%;
      }
  }